@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Biggest Cheese";
    
}

<!-- James Lear
    Index.html
    mission4-->


    <div>


        <div class="topBanner">
            <h2>My preferred name is:</h2>
            <h1>JAMES</h1>
            <p>I love cheese.</p>
        </div>



        <img src="img/jamesdance.jpg" />

        <div class="paragraph">
            <p>
                I know that this website is terribly ugly. I hope to improve on my styling skills in addition to all the C sharp we'll be learning about this semester!
                I would also like to learn more about C sharp and ASP.NET in general. I hope to be able to set
                up and run a website using these languages and frameworks. Something that we
                probably won't talk about that I would love to learn is the physical application of C
                sharp. Namely using C sharp in physical electronic devices. While we won't cover
                this material explicitly, I hope I will gain the skills needed to implement my knowledge of C
                sharp into different applications.
            </p>
        </div>

        <p>Here are my top 3 preffered jobs</p>
        <ol>
            <li>Software engineer</li>
            <li>Business owner</li>
            <li>Consultant</li>
        </ol>

        <br />

        

    </div>



