<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link href="css/Styles.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="icon" href="img/cheeseIcon.png" type="image/x-icon type" />
</head>
<body>
    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="GradeCalc">Grade Calculator</a>
    </nav>
    <div>
        @RenderBody()
    </div>

    <script src="~/lib/jquery-3.6.3.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.js"></script>
</body>
</html>
